# Database Configuration
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# Application Configuration
NODE_ENV=
PORT=

# Redis Configuration
REDIS_HOST=
REDIS_PORT=

# RabbitMQ Configuration
RABBITMQ_URL=
